<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SmtpRouterConfiguration"
              type="SMTPRouter.Windows.Configuration.NameValueSection, SMTPRouter.Windows"/>
    <section name="SmtpConfiguration"
              type="SMTPRouter.Windows.Configuration.SmtpConnectionsSection, SMTPRouter.Windows"/>
    <section name="RoutingRulesConfiguration"
              type="SMTPRouter.Windows.Configuration.RoutingRulesSection, SMTPRouter.Windows"/>
  </configSections>

  <!-- Configuration for the Current SMTP Server -->
  <SmtpRouterConfiguration>
    <add name="Host" value="localhost"/>
    <add name="Port" value="25"/>
    <add name="MessageLifespanMinutes" value="15"/>
    <add name="MessagePurgeLifespanDays" value="90"/>
  </SmtpRouterConfiguration>

  <!-- Destination SMTPs -->
  <SmtpConfiguration>
    <SmtpConnections>
      <add key="gmail"
            description="Gmail SMTP Server"
            host="smtp.gmail.com"
            port="587"
            requiresAuthentication="true"
            user="user"
            password="pwd"/>
      <add key="hotmail"
            description="Hotmail SMTP Server"
            host="smtp.live.com"
            port="587"
            requiresAuthentication="true"
            user="user"
            password="pwd"/>
    </SmtpConnections>
  </SmtpConfiguration>

  <RoutingRulesConfiguration>
    <RoutingRules>
      <add executionSequence="10"
           type="SMTPRouter.Models.MailFromDomainRoutingRule, SMTPRouter"
           params="Domain=gmail.com"
           smtpkey="gmail" />
      <add executionSequence="20"
           type="SMTPRouter.Models.MailFromDomainRoutingRule, SMTPRouter"
           params="Domain=hotmail.com;"
           smtpkey="hotmail" />
      <add executionSequence="30"
           type="SMTPRouter.Models.MailFromRegexMatchRoutingRule, SMTPRouter"
           params="RegexExpression=\A[Uu](\d{5})\z"
           smtpkey="hotmail" />
    </RoutingRules>
  </RoutingRulesConfiguration>

  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>